# Create an application to obtain credentials at
# https://developer.paypal.com/dashboard/applications/sandbox

CLIENT_ID="ARf9m_Y78w7V7aUv3ABvJQQoF8M1HJYFuy9wP9b7gFXzOqwKC2AqfPKviXfIqhuv4mhUp4yvqx5mzKYc"
APP_SECRET="Default Application"
